<a href="https://colab.research.google.com/github/nichmars/Test/blob/main/Data_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
file = 'Filtered Data with Subtypes.xlsx'
df = pd.read_excel(file)

In [3]:
#addition to drop the entries with N/A in the number of accounts
accounts_as_num = pd.to_numeric(df["Accounts"], errors="coerce")

print(accounts_as_num.isna().sum())

accounts_as_num = accounts_as_num.dropna()
print(accounts_as_num.isna().sum())

df["Accounts"] = accounts_as_num

contributions_as_num = pd.to_numeric(df["Contributions"], errors="coerce")

print(contributions_as_num.isna().sum())

contributions_as_num = contributions_as_num.dropna()
print(contributions_as_num.isna().sum())

df["Contributions"] = contributions_as_num

grants_as_num = pd.to_numeric(df["Grants"], errors="coerce")

print(grants_as_num.isna().sum())

grants_as_num = grants_as_num.dropna()
print(grants_as_num.isna().sum())

df["Grants"] = grants_as_num

assets_as_num = pd.to_numeric(df["Assets"], errors="coerce")

print(assets_as_num.isna().sum())

assets_as_num = assets_as_num.dropna()
print(assets_as_num.isna().sum())

df["Assets"] = assets_as_num

0
0
327
0
295
0
141
0

In [4]:
df = df.drop_duplicates(subset=["ein", "Year"], keep="first")
#df = df.drop(columns = ["Source"])
df = df.dropna()
df.head(20)

,ein,Year,Accounts,Contributions,Grants,Assets,Type,subtype
0,10391479,2007,270,13347384.0,10628512.0,95282896.0,Community Foundation,Community
1,10391479,2008,276,8389212.0,7419626.0,68897739.0,Community Foundation,Community
2,10391479,2009,278,10016375.0,8857052.0,83057576.0,Community Foundation,Community
3,10391479,2010,284,14088617.0,7569699.0,97807493.0,Community Foundation,Community
4,10391479,2011,296,19783555.0,9802671.0,106056922.0,Community Foundation,Community
5,10391479,2012,307,11504387.0,9544622.0,119272982.0,Community Foundation,Community
6,10391479,2013,311,29393095.0,11041949.0,155051188.0,Community Foundation,Community
7,10391479,2014,326,14769243.0,14504529.0,159598248.0,Community Foundation,Community
8,10391479,2015,334,34303800.0,23662227.0,163841168.0,Community Foundation,Community
9,10391479,2016,342,15467575.0,21624829.0,167521060.0,Community Foundation,Community
10,10391479,2017,360,29703741.0,19163440.0,199696370.0,Community Foundation,Community
11,10391479,2018,380,29483634.0,21005464.0,194044177.0,Community Foundation,Community
12,10391479,2019,395,20802830.0,21188325.0,218364523.0,Community Foundation,Community
13,10391479,2020,410,26448400.0,36253809.0,231757646.0,Community Foundation,Community
14,10391479,2021,440,44675962.0,21660094.0,294062119.0,Community Foundation,Community
15,10391479,2022,440,26842585.0,42632358.0,244835865.0,Community Foundation,Community
16,10391479,2023,456,33164528.0,44959811.0,257527475.0,Community Foundation,Community
17,10484310,2009,16,58917.0,130822.0,464279.0,Single Issue,Other
18,10484310,2010,18,18897.0,52899.0,466493.0,Single Issue,Other
19,10484310,2011,18,333377.0,104825.0,696882.0,Single Issue,Other

In [6]:
df.to_excel("Filtered Data with Subtypes Again.xlsx", index=False)