<a href="https://colab.research.google.com/github/nichmars/Test/blob/main/Data_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.linear_model import LinearRegression
from google.colab import drive
import matplotlib.pyplot as plt
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
file = '/content/drive/MyDrive/MTH498 Project/Combined Datasets.xlsx'
df = pd.read_excel(file)

In [32]:
#addition to drop the entries with N/A in the number of accounts
df = df.dropna(subset=['Accounts'])
df = df[df['Accounts'] != 'No Data']
df = df[df['Accounts'] != 'No data']
df = df[df['Accounts'] != 'no data']
df = df[df['Accounts'] != 'Closed']
df = df[df['Accounts'] != 'closed']
df = df[df['Accounts'] != 'EZ']
df = df[df['Accounts'] != 'PF']
df = df[df['Accounts'] != 'Blank']
df = df[df['Accounts'] != 'blank']
df = df[df['Accounts'] != 0]

In [34]:
df = df[df['Contributions'] != "blank"]
df = df[df['Contributions'] != "no data"]
df = df[df['Grants'] != "blank"]
df = df[df['Grants'] != "no data"]
df = df[df['Assets'] != "blank"]
df = df[df['Assets'] != "no data"]

In [35]:
df

,EIN,Year,Accounts,Contributions,Grants,Assets,Source,Type,subtype
0,10391479.0,2019,395,20802830,21188325,218364523,Confirmed,Community Foundation,Community
1,10391479.0,2020,410,26448400,36253809,231757646,Confirmed,Community Foundation,Community
2,10391479.0,2021,440,44675962,21660094,294062119,Confirmed,Community Foundation,Community
3,10391479.0,2022,440,26842585,42632358,244835865,Confirmed,Community Foundation,Community
4,10391479.0,2023,456,33164528,44959811,257527475,Confirmed,Community Foundation,Community
...,...,...,...,...,...,...,...,...,...
30695,200697012.0,2007,7,2648626,0,2652454,IRS990,Community Foundation,NaN
30696,60646973.0,2007,6,28197049,130617,37682586,IRS990,Single Issue,NaN
30697,840794536.0,2007,35,1479154,241078,3092012,IRS990,Community Foundation,NaN
30700,236299868.0,2007,69,2245483,2195805,11166544,IRS990,Community Foundation,NaN
30701,840385934.0,2007,17,66855,164856,1511356,IRS990,Single Issue,NaN