<a href="https://colab.research.google.com/github/nichmars/Test/blob/chloe/Data_Combining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.linear_model import LinearRegression
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file = '/content/drive/MyDrive/MTH498 Project/Annual+DAF+Report+2025+Dataset.xlsx'
current = pd.read_excel(file)
file = '/content/drive/MyDrive/MTH498 Project/historical DAF sponsor data.xlsx'
historical = pd.read_excel(file)

In [ ]:
j_df_conf = current.copy()

j_df_conf.loc[j_df_conf['source_record'] == "IRS 990", 'source_record'] = "Confirmed"
j_df_conf.loc[j_df_conf['source_record'] == "NPT Historical Data", 'source_record'] = "Confirmed"
j_df_conf.loc[j_df_conf['source_record'] == "Paper Submission", 'source_record'] = "Confirmed"

j_df_conf.loc[j_df_conf['source_number_of_accounts'] == "IRS 990", 'source_number_of_accounts'] = "Confirmed"
j_df_conf.loc[j_df_conf['source_number_of_accounts'] == "NPT Historical Data", 'source_number_of_accounts'] = "Confirmed"
j_df_conf.loc[j_df_conf['source_number_of_accounts'] == "Paper Submission", 'source_number_of_accounts'] = "Confirmed"

j_df_conf.loc[j_df_conf['source_total_daf_contributions'] == "IRS 990", 'source_total_daf_contributions'] = "Confirmed"
j_df_conf.loc[j_df_conf['source_total_daf_contributions'] == "NPT Historical Data", 'source_total_daf_contributions'] = "Confirmed"
j_df_conf.loc[j_df_conf['source_total_daf_contributions'] == "Paper Submission", 'source_total_daf_contributions'] = "Confirmed"

j_df_conf.loc[j_df_conf['source_total_daf_grants'] == "IRS 990", 'source_total_daf_grants'] = "Confirmed"
j_df_conf.loc[j_df_conf['source_total_daf_grants'] == "NPT Historical Data", 'source_total_daf_grants'] = "Confirmed"
j_df_conf.loc[j_df_conf['source_total_daf_grants'] == "Paper Submission", 'source_total_daf_grants'] = "Confirmed"

j_df_conf.loc[j_df_conf['source_eoy_daf_assets'] == "IRS 990", 'source_eoy_daf_assets'] = "Confirmed"
j_df_conf.loc[j_df_conf['source_eoy_daf_assets'] == "NPT Historical Data", 'source_eoy_daf_assets'] = "Confirmed"
j_df_conf.loc[j_df_conf['source_eoy_daf_assets'] == "Paper Submission", 'source_eoy_daf_assets'] = "Confirmed"


j_df_conf = j_df_conf[(j_df_conf['source_record'] == 'Confirmed') & (j_df_conf['source_number_of_accounts'] == 'Confirmed') & (j_df_conf['source_total_daf_contributions'] == 'Confirmed') & (j_df_conf['source_total_daf_grants'] == 'Confirmed') & (j_df_conf['source_eoy_daf_assets'] == 'Confirmed')]

#addition to drop the entries with N/A in the number of accounts
j_df_conf = j_df_conf.dropna(subset=['number_of_daf_accounts'])

j_df_conf_19 = j_df_conf[(j_df_conf['fiscal_year_end'] == 2019)]
j_df_conf_20 = j_df_conf[(j_df_conf['fiscal_year_end'] == 2020)]
j_df_conf_21 = j_df_conf[(j_df_conf['fiscal_year_end'] == 2021)]
j_df_conf_22 = j_df_conf[(j_df_conf['fiscal_year_end'] == 2022)]
j_df_conf_23 = j_df_conf[(j_df_conf['fiscal_year_end'] == 2023)]
j_df_conf_24 = j_df_conf[(j_df_conf['fiscal_year_end'] == 2024)]

In [ ]:
j_df_conf.groupby("type").count()

,ein,fiscal_year_end,end_of_tax_period,name,number_of_daf_accounts,total_daf_contributions,total_daf_grants,eoy_daf_assets,source_record,source_number_of_accounts,source_total_daf_contributions,source_total_daf_grants,source_eoy_daf_assets,status,subtype
type,,,,,,,,,,,,,,,
Community Foundation,3972,3972,3777,3972,3972,3962,3964,3953,3972,3972,3972,3972,3972,3972,3972
National,440,440,378,440,440,440,440,439,440,440,440,440,440,440,440
Single Issue Charity,2677,2677,2544,2677,2677,2674,2673,2666,2677,2677,2677,2677,2677,2677,2677