In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Filtered Data with Subtypes.xlsx")

In [3]:
df2 = df.copy()
df2finalrow = df2.tail(1)
df2 = df2.iloc[:-1]
df2 = pd.concat([df2finalrow, df2], ignore_index=True)

In [4]:
sidebyside = pd.concat([df, df2], ignore_index=True, axis=1)
sidebyside.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,10391479,2007,270,13347384.0,10628512.0,95282896.0,Community Foundation,Community,956105984,2020,7,0.0,14000.0,0.0,Single Issue Charity,Universities and Healthcare
1,10391479,2008,276,8389212.0,7419626.0,68897739.0,Community Foundation,Community,10391479,2007,270,13347384.0,10628512.0,95282896.0,Community Foundation,Community
2,10391479,2009,278,10016375.0,8857052.0,83057576.0,Community Foundation,Community,10391479,2008,276,8389212.0,7419626.0,68897739.0,Community Foundation,Community
3,10391479,2010,284,14088617.0,7569699.0,97807493.0,Community Foundation,Community,10391479,2009,278,10016375.0,8857052.0,83057576.0,Community Foundation,Community
4,10391479,2011,296,19783555.0,9802671.0,106056922.0,Community Foundation,Community,10391479,2010,284,14088617.0,7569699.0,97807493.0,Community Foundation,Community

In [5]:
sidebyside.dtypes
sidebyside[0][3]

10391479

In [8]:
sidebyside["Account Percent Change"] = 0
for row in range(len(sidebyside)):
    if sidebyside[0][row] == sidebyside[8][row]:
        if sidebyside[1][row] == sidebyside[9][row] + 1:
            if sidebyside[11][row] != 0:
                sidebyside["Account Percent Change"][row] = (sidebyside[3][row] - sidebyside[11][row])/sidebyside[11][row]

sidebyside.head()

C:\Users\marsh\AppData\Local\Temp\ipykernel_20784\3658352112.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  sidebyside["Account Percent Change"][row] = (sidebyside[3][row] - sidebyside[11][row])/sidebyside[11][row]
C:\Users\marsh\AppData\Local\Temp\ipykernel_20784\3658352112.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sidebyside["Account Percent Change"][row] = (sidebyside[3][row] - sidebyside[11][row])/sidebyside[11][row]
C:\Users\marsh\AppData\Local\Temp\ipykernel_20784\3658352112.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.3714714433929525' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  sidebyside["Account Percent Change"][row] = (sidebyside[3][row] - sidebyside[11][row])/sidebyside[11][row]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,Account Percent Change
0,10391479,2007,270,13347384.0,10628512.0,95282896.0,Community Foundation,Community,956105984,2020,7,0.0,14000.0,0.0,Single Issue Charity,Universities and Healthcare,0.000000
1,10391479,2008,276,8389212.0,7419626.0,68897739.0,Community Foundation,Community,10391479,2007,270,13347384.0,10628512.0,95282896.0,Community Foundation,Community,-0.371471
2,10391479,2009,278,10016375.0,8857052.0,83057576.0,Community Foundation,Community,10391479,2008,276,8389212.0,7419626.0,68897739.0,Community Foundation,Community,0.193959
3,10391479,2010,284,14088617.0,7569699.0,97807493.0,Community Foundation,Community,10391479,2009,278,10016375.0,8857052.0,83057576.0,Community Foundation,Community,0.406558
4,10391479,2011,296,19783555.0,9802671.0,106056922.0,Community Foundation,Community,10391479,2010,284,14088617.0,7569699.0,97807493.0,Community Foundation,Community,0.404223