In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('Better Vertical Dataframe.xlsx')
df2 = pd.read_excel("Relabled Last 5 Years.xlsx")

In [6]:
df2 = df2.rename(columns={"type": "Type"})
totaldf = pd.concat([df2, df])
totaldf.head()

,EIN,Year,Accounts,Contributions,Grants,Assets,Source,Type,subtype
0,10391479.0,2019,395.0,20802830.0,21188325.0,218364523.0,Confirmed,Community Foundation,Community
1,10391479.0,2020,410.0,26448400.0,36253809.0,231757646.0,Confirmed,Community Foundation,Community
2,10391479.0,2021,440.0,44675962.0,21660094.0,294062119.0,Confirmed,Community Foundation,Community
3,10391479.0,2022,440.0,26842585.0,42632358.0,244835865.0,Confirmed,Community Foundation,Community
4,10391479.0,2023,456.0,33164528.0,44959811.0,257527475.0,Confirmed,Community Foundation,Community

In [7]:
totaldf.to_excel("Combined Datasets.xlsx", index=False)